.login,.signup,.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.btn-class{
  text-align: center;
  margin-bottom: 20px;
}
.welcome-btn-class{
  margin-top: 20px;
}